.content= contest.content
.tags.badges
  each tag in contest.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-votes= contest.numLikes] likes,
      #[span.number.num-answers= contest.numAnswers] answers,
      #[span.number.num-views= contest.numReads] reads
  .col-sm
    .author
      | asked on #{moment(contest.createdAt).format('YYYY-MM-DD')}
      if contest.author
        | 
        | by #[a(href=`/users/${contest.author.id}`)= contest.author.name] 
